In [421]:
import pandas as pd
import datetime as dt

## Analyzing all football league table from 2012/13 to 2023/24 season
- Purpose of this code is to find the position of every league & teams per season.
- This data also helps in identification of teams that qualify for general international competitions.
- Provides data about winning teams in every league and in every season for 10 seasons.

In [2]:
competitions = pd.read_csv('competitions.csv')

In [3]:
competitions = competitions.drop(['url'], axis=1)

In [4]:
competitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   competition_id            43 non-null     object
 1   competition_code          43 non-null     object
 2   name                      43 non-null     object
 3   sub_type                  43 non-null     object
 4   type                      43 non-null     object
 5   country_id                43 non-null     int64
 6   country_name              36 non-null     object
 7   domestic_league_code      36 non-null     object
 8   confederation             43 non-null     object
 9   is_major_national_league  43 non-null     bool
dtypes: bool(1), int64(1), object(8)
memory usage: 3.2+ KB

In [5]:
competitions[competitions['country_name'].isna()]
competitions['country_name'] = competitions['country_name'].fillna('General')
competitions['domestic_league_code'] = competitions['domestic_league_code'].fillna('GN1')

In [6]:
general_competitions = competitions[competitions['country_name'] == 'General']

In [7]:
general_competitions['sub_type'] = general_competitions['sub_type'].str.replace('_',' ')

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\1549823553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions['sub_type'] = general_competitions['sub_type'].str.replace('_',' ')

In [8]:
general_competitions['sub_type'] = general_competitions['sub_type'].str.title()

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\1498155297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions['sub_type'] = general_competitions['sub_type'].str.title()

In [9]:
general_competitions.rename(columns={'name':'sub_type','sub_type':'Name'}, inplace=True)

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\314420371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions.rename(columns={'name':'sub_type','sub_type':'Name'}, inplace=True)

In [10]:
general_competitions['country_id'] = general_competitions['country_id'].replace(-1,0)
general_competitions['confederation'] = general_competitions['confederation'].replace('europa','Europe')

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\2675493230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions['country_id'] = general_competitions['country_id'].replace(-1,0)
C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\2675493230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions['confederation'] = general_competitions['confederation'].replace('europa','Europe')

In [11]:
general_competitions.drop('sub_type', axis=1, inplace=True)

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\3120556159.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions.drop('sub_type', axis=1, inplace=True)

In [12]:
general_competitions.set_index('competition_id', inplace=True)

In [13]:
major_leagues = competitions[competitions['is_major_national_league']]

In [14]:
major_leagues.drop(['competition_code'], axis=1, inplace=True)

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\2940293952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  major_leagues.drop(['competition_code'], axis=1, inplace=True)

In [15]:
major_leagues['name'] = major_leagues['name'].str.title()

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\2806423201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  major_leagues['name'] = major_leagues['name'].str.title()

In [16]:
major_leagues['confederation'] = major_leagues['confederation'].str.replace('europa','Europe')

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\1684393115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  major_leagues['confederation'] = major_leagues['confederation'].str.replace('europa','Europe')

In [17]:
major_leagues.set_index('competition_id', inplace=True)

In [18]:
major_leagues.sort_values(by=['country_name'], inplace=True)

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\3103729929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  major_leagues.sort_values(by=['country_name'], inplace=True)

In [19]:
general_competitions.insert(loc=5, column='league_code', value=general_competitions.index)

In [20]:
general_competitions.drop(['domestic_league_code'], axis=1, inplace=True)

C:\Users\mohammed yunus\AppData\Local\Temp\ipykernel_26424\1702465579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_competitions.drop(['domestic_league_code'], axis=1, inplace=True)

In [21]:
general_competitions

,competition_code,Name,type,country_id,country_name,league_code,confederation,is_major_national_league
competition_id,,,,,,,,
USC,uefa-super-cup,Uefa Super Cup,other,0,General,USC,Europe,False
EL,europa-league,Europa League,international_cup,0,General,EL,Europe,False
ELQ,europa-league-qualifikation,Europa League Qualifying,international_cup,0,General,ELQ,Europe,False
ECLQ,uefa-europa-conference-league-qualifikation,Uefa Europa Conference League Qualifiers,international_cup,0,General,ECLQ,Europe,False
CL,uefa-champions-league,Uefa Champions League,international_cup,0,General,CL,Europe,False
KLUB,fifa-klub-wm,Fifa Club World Cup,other,0,General,KLUB,Europe,False
CLQ,uefa-champions-league-qualifikation,Uefa Champions League Qualifying,international_cup,0,General,CLQ,Europe,False

In [22]:
major_leagues

,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,is_major_national_league
competition_id,,,,,,,,
GB1,Premier-League,first_tier,domestic_league,189,England,GB1,Europe,True
FR1,Ligue-1,first_tier,domestic_league,50,France,FR1,Europe,True
L1,Bundesliga,first_tier,domestic_league,40,Germany,L1,Europe,True
IT1,Serie-A,first_tier,domestic_league,75,Italy,IT1,Europe,True
ES1,Laliga,first_tier,domestic_league,157,Spain,ES1,Europe,True

In [23]:
games = pd.read_csv('games.csv')

In [24]:
games_shrink = major_leagues.merge(games, how='left', right_on='competition_id', left_on='domestic_league_code')

In [25]:
games_shrink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21735 entries, 0 to 21734
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name                      21735 non-null  object
 1   sub_type                  21735 non-null  object
 2   type                      21735 non-null  object
 3   country_id                21735 non-null  int64
 4   country_name              21735 non-null  object
 5   domestic_league_code      21735 non-null  object
 6   confederation             21735 non-null  object
 7   is_major_national_league  21735 non-null  bool
 8   game_id                   21735 non-null  int64
 9   competition_id            21735 non-null  object
 10  season                    21735 non-null  int64
 11  round                     21735 non-null  object
 12  date                      21735 non-null  object
 13  home_club_id              21735 non-null  int64
 14  away_club_id              21735 non-null  int64
 15  home_club_goals           21735 non-null  int64
 16  away_club_goals           21735 non-null  int64
 17  home_club_position        21735 non-null  float64
 18  away_club_position        21735 non-null  float64
 19  home_club_manager_name    21732 non-null  object
 20  away_club_manager_name    21732 non-null  object
 21  stadium                   21735 non-null  object
 22  attendance                19581 non-null  float64
 23  referee                   21730 non-null  object
 24  url                       21735 non-null  object
 25  home_club_formation       19857 non-null  object
 26  away_club_formation       19858 non-null  object
 27  home_club_name            21735 non-null  object
 28  away_club_name            21735 non-null  object
 29  aggregate                 21735 non-null  object
 30  competition_type          21735 non-null  object
dtypes: bool(1), float64(3), int64(7), object(20)
memory usage: 5.0+ MB

In [26]:
game_details = games_shrink.loc[:,['country_name','name','season','date','round','home_club_name',
                    'away_club_name','aggregate','home_club_goals','away_club_goals','home_club_id','away_club_id']]

In [27]:
game_details.sort_values(by=['date','country_name'], inplace=True)

In [28]:
def result(row):
    home_goals = row['home_club_goals']
    away_goals = row['away_club_goals']

    if home_goals > away_goals:
        return 'win'
    elif home_goals == away_goals:
        return 'draw'
    else:
        return 'loss'


game_result = game_details.apply(result, axis=1).to_frame().rename(columns={0:'game_result'})

In [29]:
game_details = game_details.merge(game_result, how='inner', left_index=True, right_index=True)

In [30]:
def h_points(row):
    result = row['game_result']

    if result == 'win':
        return 3
    elif result == 'draw':
        return 1
    else:
        return 0



def a_points(row):
    result = row['game_result']

    if result == 'win':
        return 0
    elif result == 'draw':
        return 1
    else:
        return 3
        
h_game_points = game_details.apply(h_points, axis=1).to_frame().rename(columns={0:'home_game_points'})
a_game_points = game_details.apply(a_points, axis=1).to_frame().rename(columns={0:'away_game_points'})

In [31]:
game_details = game_details.merge(h_game_points, how='inner', left_index=True, right_index=True)
game_details = game_details.merge(a_game_points, how='inner', left_index=True, right_index=True)

In [94]:
game_details['goal_difference'] = game_details['home_club_goals'] - game_details['away_club_goals']
game_details.head()

,country_name,name,season,date,round,home_club_name,away_club_name,aggregate,home_club_goals,away_club_goals,home_club_id,away_club_id,game_result,home_game_points,away_game_points,goal_difference
7424,France,Ligue-1,2012,2012-08-10,1. Matchday,Montpellier Hérault Sport Club,Toulouse Football Club,1:1,1,1,969,415,draw,1,1,0
4931,France,Ligue-1,2012,2012-08-11,1. Matchday,Olympique Gymnaste Club Nice Côte d'Azur,AC Ajaccio,0:1,0,1,417,1147,loss,0,3,-1
4941,France,Ligue-1,2012,2012-08-11,1. Matchday,AS Nancy-Lorraine,Stade brestois 29,1:0,1,0,1159,3911,win,3,0,1
5758,France,Ligue-1,2012,2012-08-11,1. Matchday,Stade Rennais Football Club,Olympique Lyonnais,0:1,0,1,273,1041,loss,0,3,-1
5759,France,Ligue-1,2012,2012-08-11,1. Matchday,ESTAC Troyes,Valenciennes FC,0:1,0,1,1095,1423,loss,0,3,-1

In [95]:
game_details[(game_details['season'] == 2023) & 
((game_details['home_club_id'] == 31) | (game_details['away_club_id'] == 31))].head()

,country_name,name,season,date,round,home_club_name,away_club_name,aggregate,home_club_goals,away_club_goals,home_club_id,away_club_id,game_result,home_game_points,away_game_points,goal_difference
4327,England,Premier-League,2023,2023-08-13,1. Matchday,Chelsea Football Club,Liverpool Football Club,1:1,1,1,631,31,draw,1,1,0
3466,England,Premier-League,2023,2023-08-19,2. Matchday,Liverpool Football Club,Association Football Club Bournemouth,3:1,3,1,31,989,win,3,0,2
278,England,Premier-League,2023,2023-08-27,3. Matchday,Newcastle United Football Club,Liverpool Football Club,1:2,1,2,762,31,loss,0,3,-1
3190,England,Premier-League,2023,2023-09-03,4. Matchday,Liverpool Football Club,Aston Villa Football Club,3:0,3,0,31,405,win,3,0,3
1555,England,Premier-League,2023,2023-09-16,5. Matchday,Wolverhampton Wanderers Football Club,Liverpool Football Club,1:3,1,3,543,31,loss,0,3,-2

In [96]:
tornament = game_details.loc[:,['country_name','name','season',
                                'home_club_name','away_club_name',
                                'home_club_id','away_club_id',
                                'home_game_points','away_game_points','goal_difference']]
tornament.sort_values(by=['country_name','season','home_club_name','away_club_name'], inplace=True)

In [97]:
home_tornament = tornament.loc[:,['season','home_club_name','home_club_id','home_game_points',
                                  'goal_difference']]
# home_tornament.set_index(['season','home_club_id'], inplace=True)

In [98]:
home_tornament_summary = home_tornament.pivot_table(values=['home_game_points','goal_difference'], 
                                                    index=['season','home_club_id'], aggfunc='sum')

In [99]:
away_tornament = tornament.loc[:,['season','away_club_name','away_club_id','away_game_points',
                                  'goal_difference']]
away_tornament.head(2)

,season,away_club_name,away_club_id,away_game_points,goal_difference
2252,2012,Aston Villa Football Club,405,0,1
1150,2012,Chelsea Football Club,631,3,-1

In [100]:
away_tornament_summary = away_tornament.pivot_table(values=['away_game_points','goal_difference'], 
                                                    index=['season','away_club_id'], aggfunc='sum')

In [101]:
tornament_summary = home_tornament_summary.merge(away_tornament_summary, 
                                                 how='inner', left_index=True, right_index=True)

In [102]:
tornament_summary.reset_index(inplace=True)

In [103]:
tornament_summary = tornament_summary[tornament_summary['home_club_id'] == tornament_summary['away_club_id']]

In [104]:
tornament_summary['total_points'] = tornament_summary['home_game_points'] + tornament_summary['away_game_points']

In [106]:
tornament_summary.head(2)

,season,home_club_id,away_club_id,goal_difference_x,home_game_points,away_game_points,goal_difference_y,total_points
0,2012,4,4,5,27,17,13,44
99,2012,5,5,18,41,31,-10,72

In [107]:
clubs = pd.read_csv('clubs.csv', usecols=['club_id','name','domestic_competition_id'])

In [108]:
tornament_summary = tornament_summary.merge(clubs, how='left', left_on='home_club_id', right_on='club_id')

In [109]:
tornament_summary.drop(['away_club_id'], axis=1, inplace=True)

In [110]:
tornament_summary.rename(columns={'home_club_id':'club_id','name':'FC'}, inplace=True)

In [111]:
league_identity = major_leagues.loc[:,['name','country_name','domestic_league_code']]

In [112]:
tornament_summary = league_identity.merge(tornament_summary, how='left', left_on='domestic_league_code', 
                      right_on='domestic_competition_id')

In [113]:
tornament_summary.drop(['domestic_league_code'], axis=1, inplace=True)

In [139]:
tornament_summary = tornament_summary.sort_values(by=['country_name','season','total_points','goal_difference'], 
                                                  ascending=[True, True, False, False])

In [115]:
tornament_summary = tornament_summary.loc[:,~tornament_summary.columns.duplicated()]

In [118]:
tornament_summary.rename(columns={'name':'League'}, inplace=True)
tornament_summary.head(2)

,League,country_name,season,club_id,goal_difference_x,home_game_points,away_game_points,goal_difference_y,total_points,FC,domestic_competition_id
14,Premier-League,England,2012,985,26,48,41,-17,89,Manchester United Football Club,GB1
5,Premier-League,England,2012,281,26,45,33,-6,78,Manchester City Football Club,GB1

In [119]:
tornament_summary.to_csv('./modified/tornament_summary.csv', index=False)

In [141]:
tornament_summary['group_rank'] = tornament_summary.groupby(
    ['season', 'League'])['total_points'].rank(ascending=False, method='first')
tornament_summary['group_rank'] = tornament_summary['group_rank'].astype('int')

In [124]:
tornament_summary['goal_difference_y'] = tornament_summary['goal_difference_y'] * -1

In [128]:
tornament_summary['goal_difference'] = tornament_summary['goal_difference_y'] + tornament_summary['goal_difference_x']

In [132]:
tornament_summary.drop(['goal_difference_y','goal_difference_x'], axis=1, inplace=True)

In [142]:
tornament_summary[(tornament_summary['season']==2023) & 
(tornament_summary['League']=='Premier-League')]

,League,country_name,season,club_id,home_game_points,away_game_points,total_points,FC,domestic_competition_id,group_rank,goal_difference
224,Premier-League,England,2023,281,47,44,91,Manchester City Football Club,GB1,1,62
220,Premier-League,England,2023,11,47,42,89,Arsenal Football Club,GB1,2,62
222,Premier-League,England,2023,31,48,34,82,Liverpool Football Club,GB1,3,45
227,Premier-League,England,2023,405,40,28,68,Aston Villa Football Club,GB1,4,15
223,Premier-League,England,2023,148,39,27,66,Tottenham Hotspur Football Club,GB1,5,13
229,Premier-League,England,2023,631,37,26,63,Chelsea Football Club,GB1,6,14
231,Premier-League,England,2023,762,40,20,60,Newcastle United Football Club,GB1,7,23
234,Premier-League,England,2023,985,33,27,60,Manchester United Football Club,GB1,8,-1
226,Premier-League,England,2023,379,29,23,52,West Ham United Football Club,GB1,9,-14
232,Premier-League,England,2023,873,28,21,49,Crystal Palace Football Club,GB1,10,-1
239,Premier-League,England,2023,1237,30,18,48,Brighton and Hove Albion Football Club,GB1,11,-7
221,Premier-League,England,2023,29,28,20,48,Everton Football Club,GB1,12,-11
235,Premier-League,England,2023,989,27,21,48,Association Football Club Bournemouth,GB1,13,-13
233,Premier-League,England,2023,931,29,18,47,Fulham Football Club,GB1,14,-6
228,Premier-League,England,2023,543,27,19,46,Wolverhampton Wanderers Football Club,GB1,15,-15
238,Premier-League,England,2023,1148,22,17,39,Brentford Football Club,GB1,16,-9
230,Premier-League,England,2023,703,20,16,36,Nottingham Forest Football Club,GB1,17,-18
236,Premier-League,England,2023,1031,16,10,26,Luton Town Football Club,GB1,18,-33
237,Premier-League,England,2023,1132,10,14,24,Burnley Football Club,GB1,19,-37
225,Premier-League,England,2023,350,10,6,16,Sheffield United Football Club,GB1,20,-69

### Winner Teams data

In [144]:
Winners = tornament_summary[tornament_summary['group_rank'] == 1]

In [174]:
winners_list = Winners.loc[:,['season','country_name','League','FC','club_id']].value_counts()

In [175]:
winners_list.sort_index(inplace=True)

In [176]:
winners_list.to_csv('./modified/winners.csv')

In [179]:
winners_list.head(3)

season  country_name  League          FC                                 club_id
2012    England       Premier-League  Manchester United Football Club    985        1
        France        Ligue-1         Paris Saint-Germain Football Club  583        1
        Germany       Bundesliga      FC Bayern München                  27         1
Name: count, dtype: int64

In [231]:
player_details = pd.read_csv('game_lineups.csv').sort_values(by='date')

In [232]:
clubs = pd.read_csv('clubs.csv', usecols=['club_id','name'])
clubs[clubs['club_id'] == 26]

Empty DataFrame
Columns: [club_id, name]
Index: []

In [233]:
player_details['date'] = player_details['date'].astype('datetime64[ns]')

In [234]:
player_details['season'] = player_details['date'].dt.year - 1

In [238]:
players_info = player_details.loc[:,['season','player_id','club_id',
                                     'player_name','position','number','team_captain']]

In [236]:
player_details[player_details['player_name'] == 'Mohamed Salah'].loc[:,[
    'season','club_id','player_name']].value_counts()

season  club_id  player_name
2018    31       Mohamed Salah    53
2020    31       Mohamed Salah    53
2017    31       Mohamed Salah    49
2021    31       Mohamed Salah    49
2015    12       Mohamed Salah    46
2019    31       Mohamed Salah    45
2016    31       Mohamed Salah    29
2014    430      Mohamed Salah    27
2022    31       Mohamed Salah    27
2013    631      Mohamed Salah    26
2016    12       Mohamed Salah    22
2014    12       Mohamed Salah    19
2012    26       Mohamed Salah    10
2023    31       Mohamed Salah     5
2014    631      Mohamed Salah     4
2021    3948     Mohamed Salah     2
Name: count, dtype: int64

In [251]:
players_info['number'] = players_info['number'].str.strip()

In [255]:
players_info.drop(['year','current_club'], axis=1, inplace=True)

In [257]:
players_info.set_index(['season','club_id'], inplace=True)

In [258]:
players_info

                player_id        player_name            position number  \
season club_id
2012   5771        133109    Kevin Ingermann         Centre-Back      2
       329         244910      Ariel Laudisi  Attacking Midfield     11
       8841        242502     Orkhan Sadyqly          Goalkeeper     25
       8841        241746   Rasim Ramaldanov         Centre-Back      6
       329         238391    Matías Muchardi       Left Midfield     25
...                   ...                ...                 ...    ...
2023   276         535881      Mattia Chiesa          Goalkeeper     16
       5           521964       Malick Thiaw         Centre-Back     28
       5           503991        Yunus Musah  Attacking Midfield     80
       5           460939  Tijjani Reijnders  Defensive Midfield     14
       472         284430    Aarón Escandell          Goalkeeper      1

                team_captain
season club_id
2012   5771                0
       329                 0
       8841                0
       8841                0
       329                 0
...                      ...
2023   276                 0
       5                   0
       5                   0
       5                   0
       472                 0

[2191911 rows x 5 columns]

In [340]:
league_name = tornament_summary.loc[:,['season','club_id','League','FC']]

In [343]:
league_name.set_index(['season','club_id'],inplace=True)

In [399]:
all_players = league_name.merge(players_info, how='left', 
                                left_index=True, right_index=True).reset_index()

In [400]:
all_players.dropna(how='any', inplace=True)

In [401]:
all_players['player_id'] = all_players['player_id'].astype('int')
all_players['team_captain'] = all_players['team_captain'].astype('int')

In [402]:
all_players

,season,club_id,League,FC,player_id,player_name,position,number,team_captain
0,2012,4,Bundesliga,1.FC Nuremberg,79501,Daniel Ginczek,Centre-Forward,11,0
1,2012,4,Bundesliga,1.FC Nuremberg,85201,Patrick Rakovsky,Goalkeeper,22,0
2,2012,4,Bundesliga,1.FC Nuremberg,86175,Hiroshi Kiyotake,Attacking Midfield,13,0
3,2012,4,Bundesliga,1.FC Nuremberg,89592,Marvin Plattenhardt,Left-Back,21,0
4,2012,4,Bundesliga,1.FC Nuremberg,92180,Robert Mak,Left Winger,14,0
...,...,...,...,...,...,...,...,...,...
793860,2023,23826,Bundesliga,RasenBallsport Leipzig,93740,Willi Orbán,Centre-Back,4,1
793861,2023,23826,Bundesliga,RasenBallsport Leipzig,157635,Yussuf Poulsen,Centre-Forward,9,0
793862,2023,23826,Bundesliga,RasenBallsport Leipzig,159844,Christopher Lenz,Left-Back,3,0
793863,2023,23826,Bundesliga,RasenBallsport Leipzig,57071,Péter Gulácsi,Goalkeeper,1,0
793864,2023,23826,Bundesliga,RasenBallsport Leipzig,53418,Kevin Kampl,Central Midfield,44,0

In [403]:
players = pd.read_csv('players.csv',usecols=['player_id','country_of_birth',
                                             'date_of_birth','foot',
                                             'height_in_cm','image_url','market_value_in_eur'])

In [404]:
players.market_value_in_eur = players.market_value_in_eur.fillna(players.market_value_in_eur.min())

In [405]:
players.foot = players.foot.fillna('both')

In [406]:
all_players = all_players.merge(players, how='left', on='player_id')

In [414]:
all_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793860 entries, 0 to 793859
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   season               793860 non-null  int64
 1   club_id              793860 non-null  int64
 2   League               793860 non-null  object
 3   FC                   793860 non-null  object
 4   player_id            793860 non-null  int32
 5   player_name          793860 non-null  object
 6   position             793860 non-null  object
 7   number               793860 non-null  object
 8   team_captain         793860 non-null  int32
 9   country_of_birth     774568 non-null  object
 10  date_of_birth        792541 non-null  object
 11  foot                 792865 non-null  object
 12  height_in_cm         786781 non-null  float64
 13  image_url            792865 non-null  object
 14  market_value_in_eur  792865 non-null  float64
dtypes: float64(2), int32(2), int64(2), object(9)
memory usage: 84.8+ MB

In [447]:
current_date = dt.datetime.now()
all_players['current time'] = pd.Timestamp(current_datetime.date())

In [444]:
all_players.date_of_birth = all_players.date_of_birth.astype('datetime64[ns]')

In [450]:
all_players['Age'] = all_players['current time'] - all_players['date_of_birth']

In [466]:
years = all_players['Age']/365

In [468]:
years = years.astype('str')

In [479]:
years = years.str.split(' ').str.get(0)

In [484]:
years = years.to_frame()

In [486]:
all_players = all_players.merge(years, how='inner', left_index=True, right_index=True)

In [488]:
all_players.drop(['current time','Age_x'], axis=1, inplace=True)

In [491]:
all_players.rename(columns={'Age_y':'player age'}, inplace=True)

In [492]:
all_players

,season,club_id,League,FC,player_id,player_name,position,number,team_captain,country_of_birth,date_of_birth,foot,height_in_cm,image_url,market_value_in_eur,player age
0,2012,4,Bundesliga,1.FC Nuremberg,79501,Daniel Ginczek,Centre-Forward,11,0,Germany,1991-04-13,right,191.0,https://img.a.transfermarkt.technology/portrai...,500000.0,33
1,2012,4,Bundesliga,1.FC Nuremberg,85201,Patrick Rakovsky,Goalkeeper,22,0,Germany,1993-06-02,left,187.0,https://img.a.transfermarkt.technology/portrai...,150000.0,31
2,2012,4,Bundesliga,1.FC Nuremberg,86175,Hiroshi Kiyotake,Attacking Midfield,13,0,Japan,1989-11-12,right,172.0,https://img.a.transfermarkt.technology/portrai...,900000.0,34
3,2012,4,Bundesliga,1.FC Nuremberg,89592,Marvin Plattenhardt,Left-Back,21,0,NaN,1992-01-26,left,181.0,https://img.a.transfermarkt.technology/portrai...,800000.0,32
4,2012,4,Bundesliga,1.FC Nuremberg,92180,Robert Mak,Left Winger,14,0,CSSR,1991-03-08,right,179.0,https://img.a.transfermarkt.technology/portrai...,700000.0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793855,2023,23826,Bundesliga,RasenBallsport Leipzig,93740,Willi Orbán,Centre-Back,4,1,Germany,1992-11-03,right,186.0,https://img.a.transfermarkt.technology/portrai...,10000000.0,31
793856,2023,23826,Bundesliga,RasenBallsport Leipzig,157635,Yussuf Poulsen,Centre-Forward,9,0,Denmark,1994-06-15,right,192.0,https://img.a.transfermarkt.technology/portrai...,6000000.0,30
793857,2023,23826,Bundesliga,RasenBallsport Leipzig,159844,Christopher Lenz,Left-Back,3,0,Germany,1994-09-22,left,180.0,https://img.a.transfermarkt.technology/portrai...,1500000.0,29
793858,2023,23826,Bundesliga,RasenBallsport Leipzig,57071,Péter Gulácsi,Goalkeeper,1,0,Hungary,1990-05-06,right,190.0,https://img.a.transfermarkt.technology/portrai...,3000000.0,34
793859,2023,23826,Bundesliga,RasenBallsport Leipzig,53418,Kevin Kampl,Central Midfield,44,0,Germany,1990-10-09,right,178.0,https://img.a.transfermarkt.technology/portrai...,3500000.0,33

In [498]:
all_players[all_players['player_name'] == 'Lionel Messi'].loc[:,[
    'season','FC','player_name','country_of_birth','player age','foot','height_in_cm',
    'position']].value_counts().sort_index()

season  FC                                 player_name   country_of_birth  player age  foot  height_in_cm  position
2012    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward        15
                                                                                                           Right Winger           1
2013    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Attacking Midfield     1
                                                                                                           Centre-Forward        43
                                                                                                           Right Winger           9
2014    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward         2
                                                                                                           Right Winger          50
                                                                                                           Second Striker         1
2015    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward         2
                                                                                                           Right Winger          49
2016    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Attacking Midfield     4
                                                                                                           Centre-Forward         5
                                                                                                           Right Winger          38
                                                                                                           Second Striker        10
2017    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward         6
                                                                                                           Right Winger          12
                                                                                                           Second Striker        26
2018    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward         3
                                                                                                           Right Winger          35
                                                                                                           Second Striker         5
2019    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Attacking Midfield     3
                                                                                                           Centre-Forward        17
                                                                                                           Right Winger          18
                                                                                                           Second Striker         6
2020    Futbol Club Barcelona              Lionel Messi  Argentina         37          left  170.0         Centre-Forward        20
                                                                                                           Right Winger           1
                                                                                                           Second Striker         8
        Paris Saint-Germain Football Club  Lionel Messi  Argentina         37          left  170.0         Centre-Forward         4
                                                                                                           Right Winger           8
                                                                                                           Second Striker         4
2021    Paris Saint-Germain Football Club  Lionel Messi  Argentina         37          left  170.0         Attacking Midfield     4
                                                                                                           Centre-Forward        11
                                                                                                           Right Winger          18
                                                                                                           Second Striker         3
2022    Paris Saint-Germain Football Club  Lionel Messi  Argentina         37          left  170.0         Attacking Midfield     2
                                                                                                           Centre-Forward        14
                                                                                                           Right Winger           2
                                                                                                           Second Striker         3
Name: count, dtype: int64

In [505]:
all_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793860 entries, 0 to 793859
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   season               793860 non-null  int64
 1   club_id              793860 non-null  int64
 2   League               793860 non-null  object
 3   FC                   793860 non-null  object
 4   player_id            793860 non-null  int32
 5   player_name          793860 non-null  object
 6   position             793860 non-null  object
 7   number               793860 non-null  object
 8   team_captain         793860 non-null  int32
 9   country_of_birth     793860 non-null  object
 10  date_of_birth        793860 non-null  object
 11  foot                 793860 non-null  object
 12  height_in_cm         793860 non-null  float64
 13  image_url            793860 non-null  object
 14  market_value_in_eur  793860 non-null  float64
 15  player age           793860 non-null  object
dtypes: float64(2), int32(2), int64(2), object(10)
memory usage: 90.9+ MB

In [504]:
all_players.country_of_birth = all_players.country_of_birth.fillna('unknown')
all_players.date_of_birth = all_players.date_of_birth.fillna('unknown')
all_players.foot = all_players.foot.fillna('both')
all_players.height_in_cm = all_players.height_in_cm.fillna(173.0)
all_players.image_url = all_players.image_url.fillna('N/A')
all_players.market_value_in_eur = all_players.market_value_in_eur.fillna(all_players.market_value_in_eur.min())

In [508]:
all_players.to_csv('./modified/all_players_info.csv', index=False)